body {
  padding-top: 25px;
  background: radial-gradient(circle, #b2e3ee -73.08%, #b6d5ec 119.47%);
  width: 100%;
  margin: 20px 30px;
}

h1 {
  display: block;
  margin-top: 20px;
  padding-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #333e46;
}

h1:first-letter {
  text-transform: capitalize;
}

.search-City {
  border-radius: 20px;
  padding: 5px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

.displayCity {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #333e46;
}
.current-weather-forecast {
  text-align: center;
}
.current-weather-forecast .active {
  color: #31302d;
  cursor: default;
}
.current-weather-forecast .active {
  text-decoration: none;
}
.Properties {
  list-style-type: none;
  margin-top: 30px;
  margin-left: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  display: block;
}
.code-link {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
}
#hour {
  margin-bottom: 30px;
  top: 5%;
  left: 20%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #687e8e;
}

#description {
  font-weight: bold;
}
#current-location-button {
  position: absolute;
  padding: 5px;
  width: 20%;
  top: 5%;
  right: 10%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: none;
  text-transform: uppercase;
  border-radius: 16px;
  background: linear-gradient(360deg, #b2e3ee -73.08%, #b6d5ec 119.47%);
  color: #687e8e;
}
#date {
  margin: 30px;
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #687e8e;
}

#temperature {
  width: 150px;
  height: 116px;
  left: 482px;
  top: 224px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 145px;
  text-align: right;
  letter-spacing: -0.04em;
  color: #333e46;
}
#celsius #fahrenheit {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 73px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: -0.04em;
  color: #333e46;
  float: top;
}

#icon {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
}

#humidity-icon {
  color: rgb(64, 192, 252);
  font-size: 25px;
  display: inline;
}

#wind-icon {
  font-size: 25px;
  display: inline;
}
#forecast {
  padding: 40px;
  display: inline;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
#developer {
  font-family: "Inter", sans-serif;
  left: 30px;
}
