.temperature {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: #333e46;
  display: inline;
}
.unit a {
  color: #333e46;
  font-size: 16px;
  line-height: 80px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.Weather ul {
  list-style: none;
  margin-top: 20px;
}
